<div class="game-container" [style.width]="width + 'px'" [style.height]="height + 'px'">
    <div class="info">
        <h1 *ngIf="detectionReady && !faceDetected">Non riesco a vedere la tua faccia!</h1>
    </div>
    <div class="webcam">
        <app-camera-detection [width]="width" [height]="height" [drawDetection]="true" [detectionTimer]="100" (detectionReady)="onDetectionReady($event)" (detectionChanges)="onDetectionChanges($event)" (firstDetection)="onFirstDetection($event)" (detectionFace)="onDetectionFace($event)" #cameraDetection></app-camera-detection>
        <app-emoji [emojiEnabled]="emojiEnabled" [emojiHighlight]="emojiHighlight" *ngIf="detectionReady && faceDetected"></app-emoji>
    </div>
</div>