<div class="game-container" [style.width]="width + 'px'" [style.height]="height + 'px'">
    <div class="info">
        <div *ngIf="endMatch" class="retry"><button class="retry-button" (click)="restartGame()"><h1>RIPROVA</h1></button></div>
        <h1 *ngIf="endMatch && loseMatch">Hai perso, hai sorriso!</h1>
        <h1 *ngIf="endMatch && winMatch">Hai vinto, non hai sorriso!</h1>
        <h1 *ngIf="detectionReady && !endMatch && !faceDetected">Non riesco a vedere la tua faccia!</h1>
        <div class="badge-container" *ngIf="faceDetected || endMatch">
            <span class="badge badge-happy" [style.background]="happy > 0.3 ? 'red' : 'green'">Felicità: {{ (happy * 100) | number:'1.1-1' }}%</span> 
            <span class="badge badge-duration" [style.background]="timeElapse > recordDuration ? 'green' : 'blue'">Resistenza: {{ (timeElapse * 1000) | humanizeTime }}</span>
            <span class="badge badge-record-duration" *ngIf="recordDuration">Record: {{ (recordDuration * 1000) | humanizeTime }}</span>
        </div>
    </div>
    <div class="youtube" *ngIf="!endMatch" [style.display]="!readyToGame ? 'none': 'flex'">
        <app-youtube-player-wrapper [width]="width" [height]="height" [videoId]="videoId" [seek]="recordDuration" (ready)="onYoutubeReady($event)"
        (stateChange)="onStateChange($event)" #youtube></app-youtube-player-wrapper>
    </div>
    <div class="webcam" [style.display]="readyToGame ? 'none': 'flex'">
        <app-camera-detection [width]="width" [height]="height" [drawDetection]="false" [detectionTimer]="100" (detectionReady)="onDetectionReady($event)" (detectionChanges)="onDetectionChanges($event)" #cameraDetection></app-camera-detection>
    </div>
</div>