
    .toolbar{
        //background-color: aquamarine;
        background-image: linear-gradient( #959595, #505050, #656565, #aaaaaa);
    }

    .avatar {
        height: 35px; 
        border-radius: 100%; 
        cursor: pointer;
    }
