:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.spinner {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
}

.video-container {
    display: flex;
    flex-direction:column;
    flex: 1 1 auto;
    position: relative;

    video,
    canvas {
        position: absolute;
        top: 0;
        left: 0;
    }
}