<div style="text-align: center;">
    <h1 style="margin-top: 10px;">Seleziona la modalità di gioco</h1>
    <div style="width: 80%; margin: auto;">
        <mat-selection-list [multiple]="false">
            <mat-list-option (click)="onArcade()">
                <mat-icon mat-list-icon>tag_faces</mat-icon> Arcade game
            </mat-list-option>
            <mat-list-option (click)="onExpressionTraining()">
                <mat-icon mat-list-icon>face</mat-icon> Allenamento delle espressioni
            </mat-list-option>
            <mat-list-option (click)="onFaceExpressionDetectionTest()">
                <mat-icon mat-list-icon>api</mat-icon> Face expression detection (TEST)
            </mat-list-option>
        </mat-selection-list>
    </div>
</div>