<div class="emoji emoji--like" *ngIf="emojiEnabled?.like" [class.highlight]="emojiHighlight === 'like'">
    <div class="emoji__hand">
        <div class="emoji__thumb"></div>
    </div>
</div>
<div class="emoji emoji--love" *ngIf="emojiEnabled?.love" [class.highlight]="emojiHighlight === 'love'">
    <div class="emoji__heart"></div>
</div>
<div class="emoji emoji--haha" *ngIf="emojiEnabled?.haha" [class.highlight]="emojiHighlight === 'haha'">
    <div class="emoji__face">
        <div class="emoji__eyes"></div>
        <div class="emoji__mouth">
            <div class="emoji__tongue"></div>
        </div>
    </div>
</div>
<div class="emoji emoji--yay" *ngIf="emojiEnabled?.yay" [class.highlight]="emojiHighlight === 'yay'">
    <div class="emoji__face">
        <div class="emoji__eyebrows"></div>
        <div class="emoji__mouth"></div>
    </div>
</div>
<div class="emoji emoji--wow" *ngIf="emojiEnabled?.wow" [class.highlight]="emojiHighlight === 'wow'">
    <div class="emoji__face">
        <div class="emoji__eyebrows"></div>
        <div class="emoji__eyes"></div>
        <div class="emoji__mouth"></div>
    </div>
</div>
<div class="emoji emoji--sad" *ngIf="emojiEnabled?.sad" [class.highlight]="emojiHighlight === 'sad'">
    <div class="emoji__face">
        <div class="emoji__eyebrows"></div>
        <div class="emoji__eyes"></div>
        <div class="emoji__mouth"></div>
    </div>
</div>
<div class="emoji emoji--angry" *ngIf="emojiEnabled?.angry" [class.highlight]="emojiHighlight === 'angry'">
    <div class="emoji__face">
        <div class="emoji__eyebrows"></div>
        <div class="emoji__eyes"></div>
        <div class="emoji__mouth"></div>
    </div>
</div>